<?xml version="1.0" encoding="UTF-8"?>  
<web-app version="2.5"   
    xmlns="http://java.sun.com/xml/ns/javaee"   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">  
<!-- definice parametru pro Spring ContextLoaderListener urcuje, ktere XML konfigurace se maji nacitat  -->

<!-- 11122017 - V ApplicationContext.xml mám všechny beany, které potřebuju ke spojení s db (jsou to ty samé beany, které jsem 
použil v SpringConnectToDB_
 -->
 
 <!-- https://stackoverflow.com/questions/3652090/difference-between-applicationcontext-xml-and-spring-servlet-xml-in-spring-frame -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/ApplicationContext.xml</param-value>
  </context-param>

  <!-- Listener obecne pro funkci Springu (startuje korenovy ApplicationContext). -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- Listener springu, ktery zajistuje ze beany se session scope budou fungovat i mimo SpringMVC -->
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
 
 <!-- Toto musí být aby fungovalo --> 
  <servlet>  
    <servlet-name>spring</servlet-name>  
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
    <load-on-startup>1</load-on-startup>  
</servlet>  

<servlet-mapping>  
    <servlet-name>spring</servlet-name>  
    <url-pattern>/</url-pattern>  
</servlet-mapping>
</web-app>  
